.Herosection{
    /* display:flex; */
    justify-content:center;
    gap:80px;
    padding-top:10px;
    /* background-color:grey; */
}
.para{
    justify-content:center;
    font-family:Sans-serif;	
}
.img{
    height:80px;
    width:120px;
}
.row1{
    display:flex;
    gap:80px;
    justify-content:center;
}
.row2{
    display:flex;
    justify-content:center;
    gap:80px;
}
.row1col1{
    border:black 5px solid;
    padding:10px;
    border-radius:15px;
    justify-content:center;
    text-align:center;
}
.row1col2{
    border:black 5px solid;
    padding:10px;
    border-radius:15px;
    justify-content:center;
    text-align:center;

}
.row2col1{
    border:black 5px solid;
    padding:10px;
    border-radius:15px;
    justify-content:center;
    text-align:center;

}
.row2col2{
    border:black 5px solid;
    padding:10px;
    border-radius:15px;
    justify-content:center;
    text-align:center;

}
.submit{
    background-color:blue;
    width:100px;
    height:30px;
    border-radius:15px;
    justify-content:center;
    
}
.submit:hover{
    color:white;
    background-color:green;
    font-style:Italic;
}
